body{
  background-color: #f7f7f7;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
header{
  width: 100%;
  height: 8%;
}

.logo {
  display:inline-block;
  width: 14%;
  height:10%;
  padding-left: 45%;
  padding-top: 1%;
  margin-top: .5%;
}

br{
  width: 20%;
  height: 3%;
  color: #f7b617;
  display:block;
}
.container-left #user{
   position: absolute;
   color: #ffffff ;
   display: inline-block;
   text-align: center;
   font-size: 1.3em;
   width: 3%;
   height: 6%;
   background: #c4c2c2 ;
   right: 3%;
   top: 6%;
   float: right;
  border-radius: 100%;
}
#user span{
  vertical-align:middle;
}

.left-menu{
  font-size: 1em;
  list-style: none;
  color: #676767;
}

.left-menu li i{
  font-size: 1em;
  list-style: none;
  color: #676767;
}

.left-menu i a {
  font-size: 1em;
  list-style: none;
  color: #676767;
}
.left-menu li a strong {
  font-size: 1em;
  list-style: none;
  color: #676767;
}
#filtro {
  width: 12%;
  height: 11%;
  padding-left: 2%;
  border-style: none;
  color:#676767;
}
#filtro option strong{
  font-size: 1em;
  list-style: none;
  color: #676767;
}
#filtro button{
  border-radius: 90%;
  font-size: 1em;
}

section {
    width: 20%;
    height: 20%;
    display: inline-block;
    background-color: #eee;
}

.container1{
  padding: 5%;
}
.container1 section {
  padding-left: 3%;
  margin-left: 3%;
  width: 25%;
  height:70%;
  padding-top: 7%;
}
.container2{
  padding:5%;
}
.container2 section {
  display:inline-block;
  width: 87.8%;
  height:70%;
  padding-left: 3%;
  margin-left: 3%;

}

.container3{
  padding:5%;
}
.container3 section {
  display:inline-block;
  width: 87.8%;
  height:70%;
  padding-left: 3%;
  margin-left: 3%;

}
.conatiner4 {
  padding: 5%;
}
.teachers {
    padding-left: 3%;
    margin-left: 3%;
    width: 20%;
    height:20%;
    padding-top: 2%;
  }
 .jedis{
    padding-left: 3%;
    margin-left: 3%;
    width: 20%;
    height:20%;
    padding-top: 2%;
  }
